<footer class="footer">
  <small>
    Uma produção <a href="http://facebook.com/vknawa">Nawa</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>